<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Qwen-coder</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/github-markdown.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/marked.min.js' %}"></script>
</head>

<body>
    <div class="container main">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Qwen-Coder</a>
                <div class="d-flex ms-auto">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary mx-2" href="{% url 'logout' %}">登出</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary mx-2" href="{% url 'login' %}">登录</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary text-white" href="{% url 'register' %}">注册</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 页面主体内容通过子模板填充 -->
        {% block content %} {% endblock %}
    </div>
</body>

</html>